* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 113px;
    padding-right: 113px;
    box-sizing: border-box;
}

.main {
    padding: 0 auto;
}

.top {
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    min-height: 768px;   
}
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.data {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/background.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-size: 46%;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
    margin-bottom: 190px;
}

.header {
    font-size: 1.3em;
    font-weight: bolder;
    padding-top: 42px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
}

.text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}

.h1_top {
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    width: 504px;
    margin-bottom: 32px;
}

.data > .text {
    width: 425px;
}

.h2_class {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3_class {
    font-size: 36px;
    line-height: 46px;
}

.h4_class {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.input_class {
    padding: 21px 42px;
    opacity: 0.4;
    border: 1px solid rgba(53, 110, 173, 1);
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;

}

.input_class:focus{
    opacity: 0.8;
    border: 2px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
}

.btn_class {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-transform: uppercase;
    align-self: center;
    height: 72px; 
    display:block; 
    position: relative; 
    border-style: none;
    margin-top: 72px;
    padding: 23px;
    width: 100%;
}

.contacts_container {
    max-width: 1366px;
    margin: 0 auto;
    padding-left: 212px;
    padding-right: 212px;
    box-sizing: border-box;
}

.contacts_h2 {
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 16px;
    padding-top: 32px;
    margin-top: 50px;
}

.contacts_p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.contacts {
    text-align: center;
    background-image: url("img/contacts_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    margin-bottom: 50px;
}

.cover {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}


.info {
    

}

.info_wrap {
    display: flex;
    align-items: center;
    width: 300px;
}

.info_img {
    margin-bottom: 56px;
}

.info_h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 40px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

.info_text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.info > ul > li {
    list-style-type: none;
    opacity: 1;
    margin-top: 16px;
    margin-left: 30px;
    padding-left: 19px;
}

.info_li_phone {
    list-style-image: url(img/phone_ico.svg);
}

.info_li_world {
    list-style-image: url(img/world_ico.svg);  
}

.info_li_mail {
    list-style-image: url(img/mail_ico.svg);
}

.info > ul > li > a {
    text-decoration: none;
}

.message {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 56px;
    width: 540px;
    box-sizing: border-box;
    align-self: flex-end;
}

.message_h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-bottom: 48px;
    text-transform: uppercase;
}

.message_textarea {
    height: 144px;
}

.message_text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-top: 32px;
    margin-bottom: 8px;
}

.what-we-do {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-bottom: 64px;
}

.title {
    width: 100%;
    flex-grow: 1;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 64px;
} 

.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}
.card_h {
    text-transform: capitalize;
    margin-bottom: 14px;
}

.card__img {
    display:flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 51px;
}

.over_card {
    position: relative;
    width: 100%;
    min-height: 123px;
}

.over_img {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card_link_box {
    display: flex;
    justify-content: left;
    width: 100%;
    align-content: center;
    align-items: flex-end;
    margin-top: 30px;
    align-self: flex-end;
    height: 100%;
}

.card_link_wrap {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.card__link {
    display: block;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.card__link_img {
    display: block;
    width: 22px;
    height: 26px;
    background-image: url(img/arrow_forward.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.map {
    width: 100%;
    margin-top: 96px;
    margin-bottom: 112px;
}

.project {
    width: 100%;
    margin-bottom: 112px;
}

.project > .h3_class {
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.project > .text {
    color: black;
    margin: 32px 10% 64px;
    text-align: center;
    opacity: 1;
}

.project_1 {
    margin-bottom: 32px;
    position: relative;
}
.project_1 > img {
    display: block;
    width: 100%;
}

.project_box {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.project_text_box {
    position: absolute;
    top: 1%;
    left: 5%;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.project_first_child {
    margin-right: 32px;
}

.project_text {
    position: absolute;
    top: 9%;
    right: 11%;
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.footer {
    background: #316099;
}

.footer_overline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 91px;
    padding-bottom: 96px;
}

.footer_overline_item {
    width: 50%;
}

.p_footer {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    font-style: normal;
    font-weight: normal;
}

.h3_footer {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    font-weight: normal;
    color:white;
    width: 340px;
    margin-bottom: 32px;
}

.footer_button_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bottom__button {
    display: inline-block;
    padding: 0.3em 1em;
    background: #5A98D0;
    text-decoration: none;
    text-align: center;
    color: white;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 26px;
    flex-basis: 110px;
}

.line {
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}

.footer_underline {
    padding-top: 64px;
    padding-bottom: 64px;
}

.contacts_index {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    flex-wrap: wrap;
}

.contacts_index > p {
    display: flex;
    flex-basis: 33.33%;
    opacity: 1;
    color: white;
}

.contacts_index > p:first-child::before {
    content: "A.";
    display: block;
    margin-right: 16px;
}

.contacts_index > p:nth-child(2)::before {
    content: "T.";
    display: block;
    margin-right: 16px;
}

.contacts_index > p:last-child::before {
    content: "E.";
    display: block;
    margin-right: 16px;
}

.contacts_index > p > a {
    text-decoration: none;
    color: white;
}

.rights {
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}

@media (max-width: 1281px){
    .cover {
        justify-content: space-around;
    }
    .message {
        margin-top: 64px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .contacts_container {
        padding-left: 124px;
        padding-right: 124px;
    }
    .message {
        width: 520px;
        padding: 54px;
    }
    .map {
        margin-bottom: 64px;
        margin-top: 64px;
    }
    .data {
        background-position-y: 260px;
    }
    .what-we-do {
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 335px;
        padding: 41px 30px 26px;
    }
    .project {
        margin-bottom: 109px;
    }
    .footer_overline {
        padding: 47px 124px 64px;
    }
    .footer_underline {
        padding: 64px 124px 64px;
    }
    .contacts_index {
        flex-direction: column;
        align-items: flex-start; 
    }
    .contacts_index > p:first-child {
        margin-top: 0;
    }
    .contacts_index > p {
        flex-basis: auto;
        margin-top: 25px;
    }
    .h3_footer {
        width: 100%;
    }
}

@media (max-width: 667px) {
    .top {
        min-height: 376px;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;   
    }
    .header {
        padding-top: 24px;
    }
    .h1_top {
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 12px;
        width: 100%;
    }
    .contacts_container {
        padding-left: 17px;
        padding-right: 17px;
    }
    .contacts_h2 {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
    }
    .contacts_p {
        font-size: 16px;
        line-height: 30px;
    }
    .message_h4 {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 31px;
    }
    .message {
        width: 100%;
        padding: 36px;
    }
    .message_textarea {
        height: 93px;
    }
    .message_text {
        font-size: 14px;
        margin-top: 21px;
        margin-bottom: 0;
        
    }
    .input_class {
        padding: 13px 23px;
        font-size: 14px;
    }
    .btn_class {
        height: 46px;
        padding: 0;
        margin-top: 46px;
    }
    .map {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .top__button {
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 32px;
        margin-bottom: 41px;
    }
    .data {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        padding-top: 36px;
    }
    .data > .text {
        width: 100%;
        text-align: center;
    }
    .what-we-do {
        margin-top: 32px;
        margin-bottom: 64px;
    }
    .title {
        margin-bottom: 32px;
        font-size: 24px;
        line-height: 28px;
    }
    .card {
        padding-bottom: 21px;
        width: 100%;
    }
    .project {
        margin-bottom: 64px;
    }
    .project > .h3_class {
        font-size: 24px;
        line-height: 28px;
    }
    .project_1 {
        margin-bottom: 16px;
        width: 100%;
    }
    .project_text {
        font-size: 16px;
        line-height: 19px;
        text-align: right;
        right: 0;
        top: 0;
        padding-right: 16px;
        padding-top: 16px;
    }
    .project_box {
        flex-direction: column;
        align-items: center;
    }
    .project_first_child {
        margin-right: 0;
    }
    .project_text_box {
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .footer_overline {
        padding: 18px 16px 41px;
        flex-direction: column;
    }
    .footer_overline_item {
        width: 100%;
        flex-basis: auto;
    }
    .footer_underline {
        padding: 32px 15px;
    }
    .contacts_index {
        flex-direction: column;
        align-items: flex-start; 
    }
    .contacts_index > p:first-child {
        margin-top: 0;
    }
    .contacts_index > p:first-child::before {
        content: "1.";
        display: block;
        margin-right: 16px;
    }

    .contacts_index > p:nth-child(2)::before {
        content: "2.";
        display: block;
        margin-right: 16px;
    }

    .contacts_index > p:last-child::before {
        content: "3.";
        display: block;
        margin-right: 16px;
    }
    .contacts_index > p {
        flex-basis: auto;
        margin-top: 17px;
    }
    .h3_footer {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        width: 100%;
    }
    .p_footer {
        text-align: center;
    }
    .footer_button_box {
        margin-top: 40px;
    }
    .rights {
        margin-top: 35px;
        text-align: center;
    }
}