<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>New Automation
        Tool for Your --> Contacts</title>
</head>

<body>
    <div class="main">
        <div class="header container" id="_top">
            <ul class="menu">
                <li><a href="/"><img src="/static/img/logo.svg" alt="logo"></a></li>
                <li><a href="#_top"><img src="/static/img/contacts.svg" alt="contacts"></a></li>
            </ul>
        </div>
        <div class="contacts">
            <div class="contacts_container">
                <h2 class="contacts_h2">Contact Us</h2>
                <p class="contacts_p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna
                    aliqua.</p>
            </div>
        </div>
        <div class="cover contacts_container">
            <div class="info_wrap">
                <div class="info">
                    <div class="info_img"><img src="/static/img/contacts_info.png" alt="contacts"></div>
                    <h4 class="info_h4">Address</h4>
                    <p class="info_text">Lorem ipsum, dolor sit amet consectetur adipisicing.</p>
                    <h4 class="info_h4">Phone</h4>
                    <ul class="info_text">
                        <li class="info_li_phone">8-912-512-11-12</li>
                        <li class="info_li_phone">8-922-655-44-55</li>
                    </ul>
                    <h4 class="info_h4">Online service</h4>
                    <ul>
                        <li class="info_li_world"><a class="info_text" href="online.site.com">Best service</a></li>
                        <li class="info_li_mail"><a class="info_text"
                                href="mailto:service@site.com">service@site.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="info">
                <div class="message">
                    <h4 class="message_h4">Send us message: <br></h4>
                    <form action="index.html">
                        <p class="message_text">Full Name:</p><input type="text" class="input_class" size="30"
                            placeholder="Your name">
                        <p class="message_text">Email: </p><input type="email" class="input_class"
                            placeholder="mail@mail.com">
                        <p class="message_text">Message:</p><textarea class="input_class message_textarea" cols="40"
                            rows="10" placeholder="Your comments"></textarea>
                        <button type="submit" class="btn_class">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="map contacts_container">
            <script type="text/javascript" charset="utf-8" async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6dd0cad8515afce0f59bab805d8328cbbab2fe33bc94b1b6f7232b159f003547&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
    </div>
    <div class="footer">
        <div class="container footer_overline">
            <div class="footer_overline_item">
                <h3 class="h3_footer">Intersted to work
                    with our team?</h3>
                <p class="p_footer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate perspiciatis</p>
            </div>
            <div class="footer_overline_item">
                <div class="footer_button_box">
                    <a href="#" class="bottom__button">Let’s Talk</a>
                </div>
            </div>
        </div>

        <hr class="line">

        <div class="footer_underline container">
            <div class="contacts_index">
                <p class="text">Lorem ipsum dolor sit amet.</p>
                <p class="text">8-955-243-11-22</p>
                <p class="text"><a href="mailto:vasya@mail.com">vasya@mail.com</a>
                </p>
            </div>
            <p class="text rights">2020 All rights reserved. &copy;</p>
        </div>
    </div>
</body>

</html>